<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>OMO</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>UserValidation</servlet-name>
  	<servlet-class>com.OMO.Servlets.UserValidation</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserValidation</servlet-name>
  	<url-pattern>/com.OMO.Servlets/UserValidation</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>MealsServlet</servlet-name>
  	<servlet-class>com.OMO.Servlets.MealsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MealsServlet</servlet-name>
  	<url-pattern>/com.OMO.Servlets/MealsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CartServlet</servlet-name>
  	<servlet-class>com.OMO.Servlets.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CartServlet</servlet-name>
  	<url-pattern>/com.OMO.Servlet/CartServlet</url-pattern>
  </servlet-mapping>
</web-app>